## .gitignore는 프로젝트 최상단 디렉토리에 위치해야 합니다

### Java template
*.class

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

## ignore 목록
.gradle
build/
/bin
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

application-oauth.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/